#button1 {
  border: 2px solid black; /* Green */
  width: 550px;
  height: 125px;
  position: absolute;
  top: 40px;
  left: 37%;
}

#button2 {
  border: 2px solid black;
  position: absolute;
  top: 250px;
  left: 40%;
}

#button3 {
  border: 2px solid black;
  position: absolute;
  top:620px;
  left: 20%
}

#button4 {
  border: 2px solid black;
  position: absolute;
  top:620px;
  left: 45%
}

#button5 {
  border: 2px solid black;
  position: absolute;
  top:620px;
  left: 67%
}

#button6 {
  border: 2px solid black;
  position: absolute;
  top:760px;
  left: 33%
}

#button7 {
  border: 2px solid black;
  position: absolute;
  top:760px;
  left: 48%
}

#button8 {
  border: 2px solid black;
  position: absolute;
  top:760px;
  left: 60%
}

#button9 {
  border: 2px solid black;
  position: absolute;
  top:880px;
  left: 38%
}

#Triarrow {
  position: absolute;
  top:410px;
  left: 30.5%;
  width: 800px;

}

#Triarrow2 {
  position: absolute;
  top:660px;
  left: 41%;
  width: 400px;

}

#leftflank_arrow {
  position: absolute;
  top: 708px;
  left: 27%;
  width: 200px;
  height: 230px;
}

#rightflank_arrow {
  position: absolute;
  top: 683px;
  left: 64.5%;
  width: 200px;
  height: 260px;
}
